<div class="row mt-5">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Country</th>
          <th scope="col">Total Cases</th>
          <th scope="col">Total Recovered</th>
          <th scope="col">Total Deaths</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let country of countries; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ country?.country }}</td>
          <td>{{ country?.cases?.total }}</td>
          <td>{{ country?.cases?.recovered }}</td>
          <td>{{ country?.deaths?.total }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
